<% content_for(:javascript) do %>
  <%= javascript_include_tag params[:controller], 'data-turbolinks-track' => true %>
<% end %>

<div class="table-responsive">
  <table id="user-index" class="table table-hover ">
    <thead>
      <tr>
        <th>用户</th>
        <th class="current-missions">当前任务</th>
        <th class="historic-missions">历史进度</th>
        <th class="progress-container"></th>
        <th class="join-date">加入日期</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
        <td class="no-decoration name">
          <%= link_to user.name, user %>
        </td>
        <td class="current-missions">
          <%= user.current_missions %>
        </td>
        <td class="historic-missions">
          <span class="finished-missions"><%= user.finished_missions %></span>
          /
          <span class="created-missions"><%= user.created_missions %></span>
        </td>
        <td class="progress-container"></td>
        <td class="join-date">
          <%= chinese_date_format(user.join_date) %>
        </td>
        <td class="member-no">
          第<%= user.member_no %>号成员
        </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
