<% @title = "你好， " + @user.name %>

<% content_for(:javascript) do %>
  <%= javascript_include_tag 'sessions', 'data-turbolinks-track' => true %>
  <% if @user.is_visitor %>
    <!-- js for vistor -->
    <%= javascript_include_tag 'others', 'data-turbolinks-track' => true %>
  <% else %>
    <!-- js for hoster -->
    <%= javascript_include_tag params[:controller], 'data-turbolinks-track' => true %>
  <% end %>
<% end %>

<div class="mission-notice">
  <p id="error"><%= notice %></p>
</div>

<% if !@user.is_visitor %>
  <%= render 'missions/new_form' %>
<% else %>
  <div id="others"></div>
<% end %>