<% @title = "你好， " + @user.name %>

<% content_for(:javascript) do %>
  <%= javascript_include_tag 'sessions', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag params[:controller], 'data-turbolinks-track' => true %>
  <% if @user.is_visitor %>
    <!-- js for vistor -->
    <%= javascript_include_tag 'others', 'data-turbolinks-track' => true %>
  <% else %>
    <!-- js for hoster -->
    <%= javascript_include_tag 'hoster', 'data-turbolinks-track' => true %>
  <% end %>
  
<% end %>

<!-- 第一部分 全局的提示栏 -->
<% content_for(:notice) do %>
<div class="mission-notice">
  <% if notice %>
  <div class="alert alert-danger alert-dismissible" id="alert-bar" role="alert">
    <button type="button" class="close" data-dismiss="alert">
     <span aria-hidden="true">&times;</span>
     <span class="sr-only">Close</span>
    </button>
    <p id="error"><%= notice %></p>
  </div>
  <% else %>
<!--   如果没有notice需要渲染， 那么默认不显示警告框，直到需要显示时才显示 -->
  <div class="alert alert-danger alert-dismissible" id="alert-bar" role="alert" style="display: none;">
    <button type="button" class="close" data-dismiss="alert">
     <span aria-hidden="true">&times;</span>
     <span class="sr-only">Close</span>
    </button>
    <p id="error"></p>
  </div>
  <% end %>
</div>

<% end %>

<!-- 第二部分 当前任务表 如果是访客， 只显示所有公开的任务 用具体加载的js文件来控制获取数据的方式 
  不分页，所有的当前任务显示在同一页中
-->
<div id="current-missions-panel">
  <div class="table-responsive">
    <table id="current-missions-table" class="table table-hover">

      <tbody id="current-missions">
      </tbody>
    </table>
  </div>
</div>

<!-- 第三部分 创建新任务的表单 只对非访客显示 一开始不出现，按下新增任务按钮后触发 -->
<div id="new-mission-panel">
  <div id="missions-new" >
    <% if !@user.is_visitor %>
      <button class="btn" id="new-mission-btn">新增</button>
      <div class="none" id="new-mission-form">
      <%= render 'missions/new_form' %>
      </div>
    <% else %>
      <div id="others"></div>
    <% end %>
  </div>
</div>

<!-- 第四部分 已完成任务表 一开始只显示向上的箭头，点击后显示。用分页插件进行分页显示 
  同样，对访客只显示公开的任务
-->
<div id="finished-missions-panel">
  <div class="drop dropup">
    <span class="show-finished-missions">显示已完成的任务</span>
    <span class="caret up"></span>
  </div>
  <div class="table-responsive none" id="finished-missions-table" >
    <table class="table table-hover">

      <tbody id="finished-missions">
      </tbody>
    </table>
     
    <div class="finished-panel-bottom">
      <ul class="pagination" id="pagination">
        <li id="last-page" class="page-action"><a>&laquo;</a></li>
        <li class="ellipsis" id="left-ellipsis"><a>...</a></li>
        <!-- data-num是页数编号，不随页数的值改变而改变 -->
        <li data-num="1" class="page-num"><a>1</a></li>
        <li data-num="2" class="page-num"><a>2</a></li>
        <li data-num="3" class="page-num"><a>3</a></li>
        <li data-num="4" class="page-num"><a>4</a></li>
        <li data-num="5" class="page-num"><a>5</a></li>
        <li data-num="6" class="page-num"><a>6</a></li>
        <li data-num="7" class="page-num"><a>7</a></li>
        <li data-num="8" class="page-num"><a>8</a></li>
        <li data-num="9" class="page-num"><a>9</a></li>
        <li class="ellipsis" id="right-ellipsis"><a>...</a></li>
        <li id="next-page" class="page-action"><a>&raquo;</a></li>
      </ul>
    </div>
  </div>
</div>