<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta name="keywords" content="clockOut 打卡">
  <meta name="description" content="clockOut是一个为你提供打卡环境的网站，激励你天天向上，改掉缺点， 实现目标">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= @title or 'clockOut' %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= yield :javascript %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<%= render_body_tag %>
  <%#在用户登录后显示导航条%>
  <%= yield :navbar %>
  <div class="container-fluid" id="main">
    <div class="row">
      <div class="clockOut-panel col-xs-12 col-md-8 col-md-offset-2" id="panel">
        <%= yield %>
      </div>
      <div class="col-xs-12 col-md-2 sidebar">
        <%#对于用户正在监督的打卡和参加的活动，显示在右侧的边框中，大概占页面六分之一%>
        <%= yield :sidebar %>
      </div>
    </div>
  </div>
</body>
</html>

